Hi {{ app.user.username }} <br />
mail: {{ app.user.mail }} <br />
affiliations: {{ app.user.affiliations }} <br />
entitlements: {{ app.user.entitlements }} <br />
<a href="https://dev.aai.niif.hu/Shibboleth.sso/Session">Shib Session</a><br />
<a href="https://dev.aai.niif.hu/Shibboleth.sso/Logout?return=https%3A%2F%2Fdev.aai.niif.hu%2Fdocument_manager%2Fweb%2Fapp_dev.php">Shib Logout</a><br />

